.condition-block-title p,
.results-block-title p,
.links-block-title p {
    text-align: center;
    color: antiquewhite;
}

.condition-block-title,
.results-block-title ,
.links-block-title {
    cursor: pointer;
    padding: 15px 0;
    background-color: dodgerblue;
    transition: .4s all;
}

.condition-block-title:hover,
.results-block-title:hover,
.links-block-title:hover {
    background-color: #016ae3;
}

.results-block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.condition-block-content,
.results-block-content,
.links-block-content {
    height: fit-content;
    padding: 25px 50px;
}

.exercise-1 {
    margin-bottom: 10px;
}

.links-block-content {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.block-test {
    padding: 25px 50px;
    margin-bottom: 15px;
}

.block-table-colors table tbody tr td {
    cursor: pointer;
}

.hide-field {
    display: none;
}

.form-search-str {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.form-search-str * {
    padding: 10px 15px;
}

.result-search-str {
    margin-top: 10px;
}

.form-fields {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.form-fields div {
    display: flex;
    flex-direction: column;
}

.form-fields div input {
    padding: 5px 10px;
    width: 250px;
}

.form-buttons {
    display: flex;
    column-gap: 15px;
}

.form-buttons button {
    flex: 1 1 auto;
    padding: 5px 10px;
    max-width: 250px;
}

.invalid-field {
    border: 2px solid red;
}