.condition-block-title p,
.results-block-title p,
.links-block-title p {
    text-align: center;
    color: antiquewhite;
}

.condition-block-title,
.results-block-title ,
.links-block-title {
    cursor: pointer;
    padding: 15px 0;
    background-color: dodgerblue;
    transition: .4s all;
}

.condition-block-title:hover,
.results-block-title:hover,
.links-block-title:hover {
    background-color: #016ae3;
}

.results-block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.condition-block-content,
.results-block-content,
.links-block-content {
    height: fit-content;
    padding: 25px 50px;
}

.links-block-content {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.iframe-ex7 {
    width: 100%;
    height: 300px;
}

/* XML */
[name = "COMPANY"] {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

[name="EMPLOYEE"],
[name="ADDRESS"],
[name="NUMBER"] {
    display: flex;
    flex-direction: column;
}

[name = "ADDRESS"] {
    padding-bottom: 10px;
}

[name = "ADDRESS"],
[name = "NUMBER"] {
    padding-left: 20px;
}